.wrrap-confirm {
  margin: 0px 50px;
}

.confirm-title {
  font-size: 17px;
  text-align: center;
  margin-bottom: 30px;
}

.confirm-yes {
  margin-right: 40px;
}

.confirm-no {
  margin-left: 40px;
}

.btn-confirm {
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
