#summary {
  width: 100%;
}

.column-icon {
  width: 7%;
}

.column-category-summary {
  width: 42%;
}

.column-active {
  width: 18%;
}

.column-archived {
  width: 33%;
}

.wrrap-category-summary {
  font-weight: bold;
}
